Client/Connected Services/ServiceReferenceGroupProduct/Core.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroupProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupProduct" nillable="true" type="tns:GroupProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupProduct" nillable="true" type="tns:ArrayOfGroupProduct" />
  <xs:complexType name="GroupProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupProduct" nillable="true" type="tns:GroupProduct" />
</xs:schema>